/* cores de texto */
$main-color: #000;
$secondary-color: #999;
$inactive-color: #DDD;
$inverse-color: #FFF;

/* cores das bordas */
$dark-border-color: #000;
$mid-border-color: #999;
$light-border-color: #CCC;
